<%- include('partials/header') %>

<form action="/login" method="POST">
    <h2>Kullanıcı Giriş</h2>
    <label for="email">Email</label>
    <input type="email" name="email" required>
    <div class="email error"></div>
    <label for="parola">Parola</label>
    <input type="password" name="parola" required>
    <div class="password error"></div>
    <button type="submit">Giriş Yap</button>
</form>

<%- include('partials/footer') %>


<script>
    const form = document.querySelector('form')

    //email error class'lı div
    const emailError = document.querySelector('.email.error')
    //password error class'lı div
    const passwordError = document.querySelector('.password.error')

    form.addEventListener('submit',async (e) => {

        //hata düzeltiğinde hata kalmasın diye text'leri boşaltma
        emailError.textContent = ''
        passwordError.textContent = ''

        e.preventDefault()
        
        const email = form.email.value
        const parola = form.parola.value
        //console.log(email,parola);

        try {
            //fetch ile /login , post'u tetikleteceğiz
            const res = await fetch('/login',{
                method:'POST',
                body:JSON.stringify({email,parola}), //email ve parola json'a çevrilerek body'de gönderildi
                headers:{'Content-Type':'application/json'}
            })


            //res.json() ile dönen hataları yakalamak
            const data = await res.json()
            //console.log(data)

            //hatalar varsa ilgili divlere yazalım
            if(data.errors){
                emailError.textContent = data.errors.email
                passwordError.textContent = data.errors.parola
            }

            //data içerisinde user bilgisi varsa kullanıcı girişi olmuştur
            if(data.user){
                location.assign('/') //home sayfasına yönlendir
            }


        } catch (error) {
            console.log(error);
        }

    })
</script>