<%- include('partials/header') %>

<form action="/signup" method="POST">
    <h2>Kullanıcı Oluştur</h2>
    <label for="email">Email</label>
    <input type="email" name="email" required>
    <div class="email error"></div>
    <label for="parola">Parola</label>
    <input type="password" name="parola" required>
    <div class="password error"></div>
    <button type="submit">Oluştur</button>
</form>

<%- include('partials/footer') %>

<script>
    const form = document.querySelector('form')
    form.addEventListener('submit',(e) => {
        e.preventDefault()
        const email = form.email.value
        const parola = form.parola.value
        console.log(email,parola);
    })
</script>