<%- include('partials/header') %>

<ul class="works">
    <li class="work">
        <img src="/icon.png" alt="">
        <h4>İş Takip Yazılımı</h4>
        <p>Test edilmekte</p>
    </li>
    <li class="work">
        <img src="/icon.png" alt="">
        <h4>İş Takip Yazılımı</h4>
        <p>Test edilmekte</p>
    </li>
    <li class="work">
        <img src="/icon.png" alt="">
        <h4>İş Takip Yazılımı</h4>
        <p>Test edilmekte</p>
    </li>
    <li class="work">
        <img src="/icon.png" alt="">
        <h4>İş Takip Yazılımı</h4>
        <p>Test edilmekte</p>
    </li>
    <li class="work">
        <img src="/icon.png" alt="">
        <h4>İş Takip Yazılımı</h4>
        <p>Test edilmekte</p>
    </li>
    <li class="work">
        <img src="/icon.png" alt="">
        <h4>İş Takip Yazılımı</h4>
        <p>Test edilmekte</p>
    </li>
</ul>

<%- include('partials/footer') %>