<%- include('partials/header') %>

<ul class="works">
    <% if(isler.length>0) { %>
        <% isler.forEach(is => { %>
            <li class="work">
                <img src="/icon.png" alt="">
                <h4><%= is.baslik %>%></h4>
            </li>
        <% }) %>
    <% } else { %>
        <div>Henüz iş girilmedi</div>
    <% } %>
</ul>

<%- include('partials/footer') %>